@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --background: #f7f4e7;
  --foreground: #0b1215;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1215;
    --foreground: #ededed;
  }
}

html,
body,
#root,
.app {
  cursor: none;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font-family: "Fira Code", monospace;
}


/* Custom scrollbar */
/* html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: #0b1215;
}

html::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 50px;
  margin-right: 20px;
} */